<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>21/02/24 18:48:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:slack.postchannelist2@31ef45e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>21/02/24 18:48:15</td>   <td>32</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:slack.postchannelist2@31ef45e3]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>21/02/24 18:48:15</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterTest()[pri:0, instance:slack.postchannelist2@31ef45e3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>21/02/24 18:48:08</td>   <td>-6648</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:slack.postchannelist2@31ef45e3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>21/02/24 18:48:09</td>   <td>-5705</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.initializeReport()[pri:0, instance:slack.postchannelist2@31ef45e3]">&gt;&gt;initializeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>21/02/24 18:48:09</td>   <td>-5692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.preRequest()[pri:0, instance:slack.postchannelist2@31ef45e3]">&gt;&gt;preRequest</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>21/02/24 18:48:09</td>   <td>-5685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postchannelist2.set()[pri:0, instance:slack.postchannelist2@31ef45e3]">set</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>21/02/24 18:48:09</td>   <td>-5710</td> <td>&nbsp;</td><td title="&gt;&gt;postchannelist2.setValues()[pri:0, instance:slack.postchannelist2@31ef45e3]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
</table>
