<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:51</td>   <td>2138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:slack.getchannelist@14bf9759]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:52</td>   <td>3586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterMethod()[pri:0, instance:slack.getchan@5f341870]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:52</td>   <td>3618</td> <td title="&lt;&lt;PreAndPost.afterSuite()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:52</td>   <td>3586</td> <td>&nbsp;</td><td title="&lt;&lt;PreAndPost.afterTest()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:42</td>   <td>-6141</td> <td title="&gt;&gt;PreAndPost.beforeSuite()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:43</td>   <td>-5381</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.initializeReport()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&gt;&gt;initializeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:48</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.initializeReport()[pri:0, instance:slack.getchannelist@14bf9759]">&gt;&gt;initializeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:51</td>   <td>2138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.initializeReport()[pri:0, instance:slack.getchan@5f341870]">&gt;&gt;initializeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:43</td>   <td>-5368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.preRequest()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&gt;&gt;preRequest</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:48</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.preRequest()[pri:0, instance:slack.getchannelist@14bf9759]">&gt;&gt;preRequest</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>21/02/24 18:48:51</td>   <td>2139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndPost.preRequest()[pri:0, instance:slack.getchan@5f341870]">&gt;&gt;preRequest</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>21/02/24 18:48:43</td>   <td>-5359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postchannelist2.set()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">set</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>21/02/24 18:48:48</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getchannelist.set()[pri:0, instance:slack.getchannelist@14bf9759]">set</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/02/24 18:48:51</td>   <td>2139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getchan.set()[pri:0, instance:slack.getchan@5f341870]">set</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>21/02/24 18:48:43</td>   <td>-5389</td> <td>&nbsp;</td><td title="&gt;&gt;getchan.setValues()[pri:0, instance:slack.getchan@5f341870]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>21/02/24 18:48:43</td>   <td>-5389</td> <td>&nbsp;</td><td title="&gt;&gt;getchannelist.setValues()[pri:0, instance:slack.getchannelist@14bf9759]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>21/02/24 18:48:43</td>   <td>-5389</td> <td>&nbsp;</td><td title="&gt;&gt;postchannelist2.setValues()[pri:0, instance:slack.postchannelist2@3c0ecd4b]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
</table>
